*{
    outline: none;
    border: none;
    text-align: center;
}

.my-download {
    width: 349px;
    height: 40px;
    background-color: rgba(154, 127, 127, 0.3);

    line-height: 40px;
    text-align: center;

    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}



.file-btn,
.my-download-btn {
    outline: none;
    margin-left: 10px;
    width: 20px;
    height: 20px;

    float: right;
    position: relative;
    top: 10px;
    right: 20px;

    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
}

.my-download span {
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}


.append-file {
    width: 349px;
    text-align: left;
    line-height: 40px;
    overflow: hidden;
    height: 40px;

    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.add-file-wapper .append-file-item:hover{
    background-color: #9ca9aa;

}
.append-file :nth-child(2) {
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}

.append-file-item {
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 10px;

    background-color: rgba(180, 180, 180, 0.3);
}

.append-file-item .preButton {
    float: right;
    background: #fafafa;
    position: relative;
    top: 7px;
    right: 30px;
    height: 16px;
    line-height: 15px;

    border: none;
    outline: none;
    color: #888;

    font-size: 6px;
}

.append-file-item .downloadButton {
    float: right;
    background: #fafafa;
    color: #888;

    position: relative;
    top: 7px;
    right: 20px;
    height: 16px;
    line-height: 15px;

    font-size: 6px;
}


